*\.db
*\.pyc
*.pyc
\.DS_Store
lexi/settings/local_settings.py
.env/
venv/
var/
src
django.pid
/*/static/*
!/*/static/common
/*/media/*
build
etc/*.db
etc/*.pid
!logs
logs/*
*~
.idea/
reports/
/nbproject
