{% extends "core.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'course-list' %}">Courses</a></li>
        <li><a href="{% url 'course-detail' object.course.slug %}">{{ object.course.title }}</a></li>
        <li class="active">{{ object.title }}</li>
    </ol>

	<h1>Lesson: {{ object.title }}</h1><br>
	<p><h3>Units list</h3></p>
	{% for unit in object.units.all %}
	<p><h3><a href="{% url 'unit-detail' unit.id %}">{{ unit.title }}</a></h3></p>
	{% empty %}
	<p> No units yet. Please add them at <a href="{% url 'admin:lection_unit_add' %}">admin</a></p>
	{% endfor %}
{% endblock %}
