{% extends "core.html" %}

{% block title %}VYVCHY 010 ВИВЧИ{% endblock %}

{% block content %}
    <h1>!%!%!%!%!%!% VYVCHY 010 ВИВЧИ !%!%!%!%!%!%</h1>
    <h2>........................<a href="https://www.coursera.org">Coursera.org</a> для Украины........................</h2>
    <br/><br/>
    <ul>
    <li>Студентам - более свободный график</li>
    <li>Преподавателям - след в истории и удобная админка</li>
    <li>Обществу - свободные знания</li>
    </ul>
    <br/><br/>
    <h3>Присоединяйтесь к разработке на <a href="https://github.com/ambivalentno/vyvchy">Github</a></h3>
    <p>Особо нуждаемся в frontend-товарищах</p>
    <br/>
    <p>Состояние дел:</p>
    <ul>
    <li> Из-за переделки пользователей на более экономную django-allauth функционал ответов еще не реализован.
    <li> Админка еще неудобная.
    <li> Из-за нелюбви к фронтенду выглядит все довольно отвратно, UX отсутствует.
    <li> Но зато задеплоено на heroku, основной функционал по добавлению данных работоспособен.
    </ul>
    <h3><a href="{% url 'course-list' %}">Приглашаю посмотреть на курсы</a>.</h3>
    <p>Шлите критику, пожелания, предложения сюда или на <a href="mailto:khlestovnikita@gmail.com?Subject=Vyvchy" target="_top">khlestovnikita@gmail.com</a></p>
    <br/>
    Ваши,<br/>
    Никита Хлестов,<br/>
    Богдан Кольбик
{% endblock %}
