<br/><br/><br/>
!%!%!%!%!%!% VYVCHY 010 ВИВЧИ !%!%!%!%!%!%
<br/><br/>
........................<a href="https://www.coursera.org">Coursera.org</a> для Украины........................<br/>
<br/><br/>
* Студентам - более свободный график<br/>
* Преподавателям - след в истории и удобная админка<br/>
* Обществу - свободные знания<br/>
<br/><br/>
<h3>Присоединяйтесь к разработке на <a href="https://github.com/ambivalentno/vyvchy">Github</a></h3>
<p>Особо нуждаемся в frontend-товарищах</p>
<br>
<p>Состояние дел:</p>
<ul>
<li> Из-за переделки пользователей на более экономную django-allauth функционал ответов еще не реализован.
<li> Админка еще неудобная.
<li> Из-за нелюбви к фронтенду выглядит все довольно отвратно, UX отсутствует.
<li> Но зато задеплоено на heroku, основной функционал по добавлению данных работоспособен.
</ul>
<a href="{% url 'course-list' %}"><h3>Приглашаю посмотреть на курсы</h3></a>.
<p>Шлите критику, пожелания, предложения на <a href="mailto:khlestovnikita@gmail.com?Subject=Vyvchy" target="_top">khlestovnikita@gmail.com</a></p>
<br/>
Ваш,<br/>
Никита Хлестов<br/>


